@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 94%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 207 82% 67%;
    --primary-foreground: 224 71% 4%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 36 100% 65%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 207 82% 67%;
    --chart-1: 207 82% 67%;
    --chart-2: 36 100% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 0 84% 60%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 67%;
    --primary-foreground: 224 71% 4%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 36 100% 65%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 82% 67%;
    --chart-1: 207 82% 67%;
    --chart-2: 36 100% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 0 72% 51%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
